h1 {
    color: rgb(45, 119, 192);
    background-color: rgb(177, 41, 41);
    background-color: rgba(0, 0, 0, 0.5) 
    }

p
{
    background-color: black;
    color: white
}
a {
    display: block
    font-weight: bold;
  }